{% extends "layout.html" %}

{% block content %}
    {% for post in posts %}
        <h4><a href="{% url 'post-detail' post.id %}">{{post.title}}</a> <span>{{post.date_posted|date:"F d, Y"}}</span></h4>
        <p>{{ post.content }}</p>
        <label>Author</label>  {{post.author.username}}
        <br /><br />

    {% endfor %}
    {% if user.is_authenticated %}
            <div>
                <a class="btn btn-primary" href="{% url 'post-create' %}">Create new post</a>
            </div>
    {% endif %}
{% endblock %}
