{% extends "layout.html" %}

{% block content %}
        <h4>{{object.title}} <span>{{object.date_posted|date:"F d, Y"}}</span></h4>
        <p>{{ object.content }}</p>
        <label>Author</label>  {{object.author.username}}
        <br /><br />

        {% if user.is_authenticated and user.id == post.author.id %}
                <div>
                    <a class="btn btn-danger" href="{% url 'post-delete' post.id %}">Delete</a>
                    <a class="btn btn-info" href="{% url 'post-update' post.id %}">Update</a>
                </div>
        {% endif %}
{% endblock %}
